{% extends 'layout/layout.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}My Trip{% endblock %}

{% block body %}
  <h2>Danh sách các chuyến đi đã tạo</h2>

    {% if trip_paths %}
        {% for path in trip_paths %}
            <h3>{{ path.path_name }}</h3>
            <p>Total distance: {{ path.distance }} km</p>
            <p>Total duration: {{ path.duration }} minutes</p>
            <ul>
                {% for loc_id in path.locations %}
                <li>{{ location_map|get_item:loc_id }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Chưa có lịch trình nào được tạo.</p>
    {% endif %}
{% endblock %}