{% extends "authenticate_layout/authenticate_layout.html" %}

{% load static %}
{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}?v={{ timestamp }}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="right-side">
    <div class="welcome-text">
        <h2>Welcome back!</h2>
        <p>Please log in to continue</p>
    </div>

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="submit-button">Login</button>
    </form>
    <!--<p><a href="{% url 'password_reset' %}" class="forgot-password">Forgot your password?</a></p>-->
    <div class="register-request">
        <p class="question-register">Don't have an account?</p>
        <a class="register-link" href="{% url 'register' %}">Create one here</a>
    </div>
</div>
{% endblock %}