{% extends "authenticate_layout/authenticate_layout.html" %}

{% load static %}
{% block title %} Create a new account {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}?v={{ timestamp }}">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="right-side">
    <div class="welcome-text">
        <h2>Create an account</h2>
    </div>

    <div>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="submit-button">Login</button>
        </form>

        <div class="login-request">
            <p class="question-login">Already have an account?</p>
            <a class="login-link" href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}