{% extends "layout/layout.html" %}
{% load static %}   {# THÊM DÒNG NÀY #}

{% block title %} {{location_name}} {% endblock %}

{% block body %}
    <ul>
        <li>Location: {{ location_name }}</li>
        <li>City: {{ city }}</li>
        <li>Rating: {{ rating }}</li>
        <img src="{% static image_path %}" alt="{{ location.name }}">
        <li>Address: {{ address }}</li>
        <li>Price: {{ ticket_info }}</li>
        <li>Description: {{ long_description }}</li>
    </ul>
{% endblock %}
