body {
    line-height: 1.5;
}

.location-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto 15px auto;
    width: 100%;
    max-width: 1300px;
    padding: 30px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.head-of-info {
    display: flex;
}

.location-name {
    text-align: left;
    flex: 9;
    color: #00aa6c;
    font-size: 28px;
    font-weight: bold;
}

.favourite-block {
    display: block;
}

.favourite-location i {
    color: red;
}

.image-block {
    display: block;
    width: 450px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.location-img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.locaction-rating {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.locaction-rating strong {
    margin-right: 20px;
}

.location-rating i {
    color: #fbb002;
}

.location-address {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    list-style: none;
}

.location-address strong {
    margin-right: 20px;
}

.favourite-location {
    flex: 1;
    align-items: top;
    text-align: right;
}