body {
    color: #333;
    line-height: 1.5;
}

.location-container {
    margin-top: 30px !important;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.locaction-card {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.location-img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px;
}

.location-img img {
    object-fit: cover;
}

.locaction-rating {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 20px;
}

.location-address {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 20px;
}

.location-info {
    flex: 4;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.head-of-info {
    display: flex;
    align-items: center;
}

.location-name {
    flex: 9;
    color: #00aa6c;
    font-size: 28px;
    font-weight: bold;
}

.favourite-location {
    flex: 1;
    align-items: top;
    text-align: right;
}

.location-ticket-info {

}
