{% extends 'layout/layout.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %} 
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Welcome to Ho Chi Minh City!</h1>
            <p>Experience the vibrant culture and exquisite cuisine of Vietnam.</p>
        </div>
    </section>


    <section class="content-section">
        <div class="card-grid">
            {% for loc in all_of_locations|slice:":6" %}
            <div class="card">
                <a href = "{% url 'display_location' loc.code %}">
                    <div class="card-image" style="background-image: url('{% static loc.image_path %}');"></div>
                    <div class="card-content">
                        <h3>{{ loc.location }}</h3>
                        <p>{{ loc.description }}</p>
                        <div class="rating" >
                            <i class="fas fa-star"></i>
                            {{ loc.star_html|safe }}
                            <span>Đánh giá: {{ loc.rating }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>    
{% endblock %}

