{% load static %}

<!DOCTYPE html>

<html lang="en-US" lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <title> {% block title %} Django's Tourist {% endblock %}</title>
        {% block css %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="https://github.com/howardVoxcan/Tourist_Guide">
                        <picture>
                            <img src="{% static 'img/logo-tourist-guide.svg' %}" alt="">
                        </picture>
                    </a>
                </div>

                <div class="search-bar">
                    <input type="text" placeholder="Tìm điểm đến, khách sạn, nhà hàng...">
                    <button class="search-icon"><i class="fas fa-search search-icon"></i></button>
                </div>
                
                <div class="nav-buttons">
                    <button class="nav-button secondary">Đăng Nhập</button>
                    <button class="nav-button primary">Đăng Ký</button>
                </div>
            </div>

            <!--Nav chính-->
            <ul class="nav-tabs">
                <li><a href="#"><i class="fas fa-hotel"></i>Homepage</a></li>
                <li><a href="#"><i class="fas fa-utensils"></i>Nhà hàng</a></li>
                <li><a href="#"><i class="fas fa-heart"></i>Favourite</a></li>
            </ul>
        </header>  
        
        
        {% block body %}
        {% endblock %}

        <footer>
            <p>&copy; 2025 Tourist Guide. Mọi quyền được bảo lưu.</p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>
