{% load static %}

<!DOCTYPE html>

<html lang="en-US" lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title> {% block title %} Django's Tourist {% endblock %}</title>
    <style>
        .card a {
            text-decoration: none;
            color: inherit;
        }
    </style>
    {% block css %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="https://github.com/howardVoxcan/Tourist_Guide">
                        <picture>
                            <img src="{% static 'img/logo-tourist-guide.svg' %}" alt="">
                        </picture>
                    </a>
                </div>

                <div class="search-bar">
                    <form method="get" action="{% url 'locations' %}">
                        <input type="text" name="search" placeholder="Searching for locations"
                            value="{{ current_filters.search|default_if_none:'' }}">
                        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                {% if not user.is_authenticated %}
                <div class="nav-buttons">
                    <a href="{% url 'login' %}"><button class="nav-button secondary">Sign In</button></a>
                    <a href="{% url 'register'%}"><button class="nav-button primary">Sign Up</button></a>
                </div>
                {% else %}
                <!-- logo người dùng ở đây, kiểu như facebook mặc định, xong có thêm cái username -->


                <div class="user-block">
                    <div class="dropbtn">
                        {{user.username}}
                        <i class="far fa-user-circle"></i>
                    </div>

                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <a href="{% url 'logout' %}"><button type="submit" class="logout-button">Log Out</button></a>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <!--Nav chính-->
            <ul class="nav-tabs">
                <li><a href="{% url 'homepage' %}"
                        class="{% if request.resolver_match.url_name == 'homepage' %}active{% endif %}"><i
                            class="fa fa-home"></i>Home</a></li>
                <li><a href="{% url 'weather' %}"
                        class="{% if request.resolver_match.url_name == 'weather' %}active{% endif %}"><i
                            class="fa-solid fa-sun"></i>Weather</a></li>
                <li><a href="{% url 'locations' %}"
                        class="{% if request.resolver_match.url_name == 'locations' %}active{% endif %}"><i
                            class="fas fa-map-marker-alt"></i>Locations</a></li>
                <li><a href="{% url 'favourite' %}"
                        class="{% if request.resolver_match.url_name == 'favourite' %}active{% endif %}"><i
                            class="fas fa-heart"></i>Favourite</a></li>
                <li><a href="{% url 'my_trip' %}"
                        class="{% if request.resolver_match.url_name == 'my_trip' %}active{% endif %}"><i
                            class="fas fa-map-marked-alt"></i>My Trip</a></li>
            </ul>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 Tourist Guide. Mọi quyền được bảo lưu.</p>
        </footer>

        <script></script>
    </div>
</body>

</html>