{% load static %}

<!DOCTYPE html>

<html lang="en-US" lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'layout/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <title> {% block title %} Django's Tourist {% endblock %}</title>
    </head>

    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="https://github.com/howardVoxcan/Tourist_Guide">TouristGuide</a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Tìm điểm đến, khách sạn, nhà hàng...">
                    <button><i class="fas fa-search search-icon"></i></button>
                </div>
                <div class="nav-buttons">
                    <button class="nav-button secondary">Đăng Nhập</button>
                    <button class="nav-button primary">Đăng Ký</button>
                </div>
                <div class="cart-container">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                    <div class="cart-count">3</div> <!-- Hiển thị số lượng sản phẩm -->
                </div>
            </div>

            <!--Nav chính-->
            <ul class="nav-tabs">
                <li><a href="#"><i class="fas fa-hotel"></i>Khách sạn</a></li>
                <li><a href="#"><i class="fas fa-utensils"></i>Nhà hàng</a></li>
                <li><a href="#"><i class="fas fa-map-marked-alt"></i>Khu nghỉ dưỡng</a></li>
                <li><a href="#"><i class="fas fa-car"></i> Rental Cars</a></li>
                <li><a href="#"><i class="fas fa-ship"></i> Cruises</a></li>
                <li><a href="#"><i class="fas fa-car-side"></i> Road Trips</a></li>
            </ul>
        </header>  
        
        <h3> About the condition, it's {{ condition }}</h3>
        
        {% block body %}
        {% endblock %}

        <footer>
            <p>&copy; 2025 TripAdvisor Clone. Mọi quyền được bảo lưu.</p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>
