.right-side {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    margin-bottom: 20px;
}

.welcome-text h2 {
    font-size: 28px;
    color: #00aa6c;
    margin-bottom: 10px;
}

.welcome-text p {
    color: #00aa6c;
    font-size: 16px;
}

.submit-button {
    background-color: #00aa6c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-request {
    display: flex;
}

.question-login {
    flex: 1;
    font-size: 16px;
}

.login-link {
    flex: 1;
    color: blue;
}