{% extends "layout/layout.html" %}

{% load static %}

{% block title%} Locations {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %}
<section class="content-section">
    <div class="card-grid">
        {% for loc in locations %}
        <div class="card"><a href = "{% url 'display_location' loc.code %}">
            <div class="card-image" style="background-image: url('{% static loc.image_path %}');"></div>
            <div class="card-content">
                <h3>{{ loc.location }}</h3>
                <p>{{ loc.description }}</p>
                <div>
                    <form method="post" action="{% url 'favourite' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="value" value="{{ loc.code }}">
                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                            {{ loc.favourite_symbol|safe }}
                        </button>
                    </form>
                </div>
                <div class="rating">
                    {{ loc.star_html|safe }}
                    <span>Rating: {{ loc.rating }}</span>
                </div>
            </div>
        </a></div>
        {% endfor %}
    </div>
</section>    
{% endblock %}