* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('');  
    background-position: center;
    background-color: #f5fffe;
}

.container {
    display: flex;
    padding: 0;
    width: 1050px;
    height: 750px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1; /* Làm cho phần này chiếm 50% chiều rộng của container */
    background-color: #caffbf;  /* Màu nền */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.left-side img {
    max-width: 80%;
    margin: auto;
}

.app-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}